.DS_Store

all/*
csv/*
csv_raw/*
cumulative/*
__pycache__/*
fast/*
gps/*
locations/*
points/*
slow/*
points_yearly/*
Takeout/*
takeout-*
shapefile_cumulative/*
shapefile_yearly/*
visualization_video_*.mp4
visualization_video_square_*.mp4
visualization_video_vertical_*.mp4
visualizations_geopandas/*
visualizations_geopandas_progress_info/*
visualizations_square/*
visualizations_square_progress_info/*
visualizations_square_with_dates/*
visualizations_vertical/*
visualizations_vertical_progress_info/*
visualizations_vertical_with_dates/*
visualizations_with_dates/*
visualizations_with_years/*
visualizations_yearly_geopandas/*
visualizations_progress_with_dates/*
visualizations_square_progress_with_dates/*
visualizations_vertical_progress_with_dates/*
cumulative_visualizations/*
output/*
visualizations/*

#venv/
venv/*
progress copy.json
progress.json